html {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;

  @media screen and (max-width: 480px) {
    height: 100%;
    overflow: auto;
  }
}
body {
  margin: 0;
  padding: 0;
	width: 100vw;
	height: 100vh;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: 480px) {
    height: 100%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  overflow-x: hidden;
}

@font-face {
  font-family: "PhoenixTitle";
  src: url("/public/no_continue.ttf") format("truetype");
}
